@font-face
{
    font-family: Blurmix;
    src: url('/public/assets/Blurmix.TTF');
}

body {
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color:black;
    font-family:Blurmix, sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#gestureCapture {
    position:relative;
}
/*
#videoWrapper {
   display:table;
    border:1px dashed blue;
    height: 100%;
    width: 100%;
}
*/

#introVideo {
    margin: 0 auto;
    position:fixed;
    height: 100%;
    width: 100%;
}

#preroll, #postroll,#countdown {
    position:relative;
    /*width:1200px;
    height:800px;*/
    padding-top:5%;
   /* vertical-align:middle;*/
}

#preroll p, #postroll p,#countdown p {
    text-transform: uppercase;
    color:white;
    text-align:center;
    font-size:35px;
}

#preroll p.title, #postroll p.title , #countdown p{
    font-size:50px;
}


#preroll .buttons,#postroll .buttons {
/*    position:absolute;
    top:70%;
    left:20%;
*/
    text-align:center;
}

#postroll .buttons {
    padding-top:100px;
}

#postroll .buttons #finishButton {
    padding-right:130px;
}

#postroll,#countdown {
    display:none;
}

#loadingMsg {
    display:none;
    margin-top:20%;
    text-transform: uppercase;
    color:white;
    text-align:center;
    font-size:35px;
    /*z-index:99;*/
}

video.minimised {
    height:1px;
    width:1px;
}